@font-face {
  font-family: 'icomoon';
  src:  url(https://rawcdn.githack.com/crewery/custom-functionality/03f691732395d719bbf49d789dd73a57ff551c3b/icomoon.eot?2r67yb);
  src:  url(https://rawcdn.githack.com/crewery/custom-functionality/03f691732395d719bbf49d789dd73a57ff551c3b/icomoon.eot?2r67yb#iefix) format('embedded-opentype'),
    url(https://rawcdn.githack.com/crewery/custom-functionality/03f691732395d719bbf49d789dd73a57ff551c3b/icomoon.ttf?2r67yb) format('truetype'),
    url(https://rawcdn.githack.com/crewery/custom-functionality/03f691732395d719bbf49d789dd73a57ff551c3b/icomoon.woff?2r67yb) format('woff'),
    url(https://rawcdn.githack.com/crewery/custom-functionality/03f691732395d719bbf49d789dd73a57ff551c3b/icomoon.svg?2r67yb#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-facebook-f:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
